@*@model Senparc.Areas.Admin.Models.VD.IBaseDeveloperVD*@
@using System.Web.Mvc
@using Senparc.Web.UI
<!DOCTYPE html>
<html lang="zh-CN" class="csstransforms3d">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Title"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @*本地*@
    <environment include="Development">
        <!-- ===============BASE ANTD CSS ===============-->
        <link href="~/node_modules/ant-design-vue/dist/antd.css" rel="stylesheet" />
    </environment>
    @*线上*@
    <environment exclude="Development">
        <!-- ===============BASE ANTD CSS ===============-->
        <link href="~/node_modules/ant-design-vue/dist/antd.min.css" rel="stylesheet" />
    </environment>
    @RenderSection("HeaderContent", false)
    @RenderSection("Style", false)

</head>
<body>
    <div id="app" v-cloak>
        <helloworld></helloworld>
        <script type="text/x-template" id="HelloWorld-template">
            <a-layout id="components-layout-demo-responsive">
                <a-layout-sider breakpoint="lg"
                                collapsedWidth="0"
                                @@collapse="onCollapse"
                                @@breakpoint="onBreakpoint">
                    <div class="logo" />
                    <a-menu theme="dark" mode="inline" :defaultSelectedKeys="['4']">
                        <a-menu-item key="1">
                            <a-icon type="user" />
                            <span class="nav-text">nav 1</span>
                        </a-menu-item>
                        <a-menu-item key="2">
                            <a-icon type="video-camera" />
                            <span class="nav-text">nav 2</span>
                        </a-menu-item>
                        <a-menu-item key="3">
                            <a-icon type="upload" />
                            <span class="nav-text">nav 3</span>
                        </a-menu-item>
                        <a-menu-item key="4">
                            <a-icon type="user" />
                            <span class="nav-text">nav 4</span>
                        </a-menu-item>
                    </a-menu>
                </a-layout-sider>
                <a-layout>
                    <a-layout-header :style="{ background: '#fff', padding: 0 }" />
                    <a-layout-content :style="{ margin: '24px 16px 0' }">
                        <div :style="{ padding: '24px', background: '#fff', minHeight: '360px' }">
                            content
                        </div>
                    </a-layout-content>
                    <a-layout-footer style="textAlign: center">
                        Ant Design ©2018 Created by Ant UED
                    </a-layout-footer>
                </a-layout>
            </a-layout>
        </script>
        @RenderBody()
    </div>
    @*本地*@
    <environment include="Development">
        <!-- ===============BASE JQUERY SCRIPTS ===============-->
        <script src="~/bower_components/jquery/dist/jquery.js"></script>
        <!-- ===============BASE VUE SCRIPTS ===============-->
        <script src="~/bower_components/vue/dist/vue.js"></script>
        <!-- ===============BASE MOMENT SCRIPTS ===============-->
        @*<script src="~/node_modules/ant-design-vue/node_modules/moment/src/moment.js"></script>*@
        <!-- ===============BASE ANTD SCRIPTS ===============-->
        <script src="~/node_modules/ant-design-vue/dist/antd.js"></script>
        <script src="~/js/Admin/main.js"></script>
    </environment>
    @*线上*@
    <environment exclude="Development">
        <!-- ===============BASE JQUERY SCRIPTS ===============-->
        <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- ===============BASE VUE SCRIPTS ===============-->
        <script src="~/bower_components/vue/dist/vue.min.js"></script>
        <!-- ===============BASE MOMENT SCRIPTS ===============-->
        @*<script src="~/node_modules/ant-design-vue/node_modules/moment/min/moment.min.js"></script>*@
        <!-- ===============BASE ANTD SCRIPTS ===============-->
        <script src="~/node_modules/ant-design-vue/dist/antd.min.js"></script>
        <script src="~/js/Admin/main.js"></script>

    </environment>
    @RenderSection("scripts", false)
    @Html.RenderMessageBox()
</body>

</html>
