@*@model Senparc.Areas.Admin.Models.VD.IBaseDeveloperVD*@
@using System.Web.Mvc
@using Senparc.Web.UI
<!DOCTYPE html>
<html lang="zh-CN" class="csstransforms3d">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Title"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @*本地*@
    <environment include="Development">
        <!-- ===============BASE ANTD CSS ===============-->
        <link href="~/node_modules/ant-design-vue/dist/antd.css" rel="stylesheet" />
    </environment>
    @*线上*@
    <environment exclude="Development">
        <!-- ===============BASE ANTD CSS ===============-->
        <link href="~/node_modules/ant-design-vue/dist/antd.min.css" rel="stylesheet" />
    </environment>
    @RenderSection("HeaderContent", false)
    @RenderSection("Style", false)

</head>
<body>
    <div id="root">
        @RenderBody()
    </div>
    <script>window.routerBase = "/";</script>
    <environment include="Development">
        <!-- ===============BASE JQUERY SCRIPTS ===============-->
        <script src="~/bower_components/jquery/dist/jquery.js"></script>
        <script src="~/js/course-demo-umi/require.js"></script>
        <!-- ===============BASE VUE SCRIPTS ===============-->
        @*<script src="~/bower_components/vue/dist/vue.js"></script>*@
        <!-- ===============BASE MOMENT SCRIPTS ===============-->
        @*<script src="~/node_modules/ant-design-vue/node_modules/moment/src/moment.js"></script>*@
        <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
        <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
        <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
        <!-- ===============BASE ANTD SCRIPTS ===============-->
        <script src="~/node_modules/ant-design-vue/dist/antd.js"></script>
        <script src="~/js/course-demo-umi/dist/umi.js"></script>
        <script src="~/js/course-demo-umi/src/layout/index.js"></script>
        <script src="~/js/course-demo-umi/src/page/.umi/router.js"></script>
        <script src="~/js/course-demo-umi/src/page/.umi/umi.js"></script>
        <script>window.routerBase = "/";</script>

    </environment>
    @*线上*@
    <environment exclude="Development">
        <!-- ===============BASE JQUERY SCRIPTS ===============-->
        <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="~/js/course-demo-umi/require.js"></script>
        <!-- ===============BASE VUE SCRIPTS ===============-->
        @*<script src="~/bower_components/vue/dist/vue.min.js"></script>*@
        <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
        <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
        <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
        <!-- ===============BASE MOMENT SCRIPTS ===============-->
        @*<script src="~/node_modules/ant-design-vue/node_modules/moment/min/moment.min.js"></script>*@
        <!-- ===============BASE ANTD SCRIPTS ===============-->
        <script src="~/node_modules/ant-design-vue/dist/antd.min.js"></script>
        <script src="~/js/course-demo-umi/dist/umi.js"></script>
        <script src="~/js/course-demo-umi/src/layout/index.js"></script>
        <script src="~/js/course-demo-umi/src/page/.umi/router.js"></script>
        <script src="~/js/course-demo-umi/src/page/.umi/umi.js"></script>
        <script>window.routerBase = "/";</script>

    </environment>
    @RenderSection("scripts", false)
    @Html.RenderMessageBox()
</body>

</html>
