@*@model Senparc.Areas.Admin.Models.VD.IBaseDeveloperVD*@
@using System.Web.Mvc
@using Senparc.Web.UI
<!DOCTYPE html>
<html lang="zh-CN" class="csstransforms3d">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Title"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @*本地*@
    <environment include="Development">
        <!-- ===============Base CSS BEGIN ===============-->
        <!-- ===============Base VENDOR STYLES ===============-->
        <link href="~/lib/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
        <!--tour-->
        <link href="~/lib/vendor/bootstrap-tour/build/css/bootstrap-tour-standalone.css" rel="stylesheet" />
        <!-- ===============Base BOOTSTRAP STYLES ===============-->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <!--animate-->
        <link href="~/lib/vendor/animate.css/animate.min.css" rel="stylesheet" />
        <!-- ===============Base PLUGIN OR OTHERS ===============-->
        <!--Base SWEET ALERT-->
        <link href="~/js/Admin/base/plugin/sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <!-- XEDITABLE-->
        <link rel="stylesheet" href="~/lib/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css">
        <!--Base APP-->
        <link href="~/lib/bootstrap/dist/css/app.css" rel="stylesheet" />
        <!--Base THEME-->
        <link href="~/lib/bootstrap/dist/css/theme-f.css" rel="stylesheet" />
        <!--pagebar-->
        <link href="~/css/Admin/base/pagecss.css" rel="stylesheet" />
        <!--Base customStyle-->
        <link href="~/css/Admin/styles.css" rel="stylesheet" />
    </environment>
    @*线上*@
    <environment exclude="Development">
        <!-- ===============Base CSS BEGIN ===============-->
        <!-- ===============Base VENDOR STYLES ===============-->
        <link href="~/lib/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
        <!--tour-->
        <link href="~/lib/vendor/bootstrap-tour/build/css/bootstrap-tour-standalone.css" rel="stylesheet" />
        <!-- ===============Base BOOTSTRAP STYLES ===============-->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <!--animate-->
        <link href="~/lib/vendor/animate.css/animate.min.css" rel="stylesheet" />
        <!-- ===============Base PLUGIN OR OTHERS ===============-->
        <!--Base SWEET ALERT-->
        <link href="~/js/Developer/base/plugin/sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <!-- XEDITABLE-->
        <link rel="stylesheet" href="~/lib/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css">
        <!--Base APP-->
        <link href="~/lib/bootstrap/dist/css/app.css" rel="stylesheet" />
        <!--Base THEME-->
        <link href="~/lib/bootstrap/dist/css/theme-f.css" rel="stylesheet" />
        <!--pagebar-->
        <link href="~/css/Admin/base/pagecss.css" rel="stylesheet" />
        <!--Base customStyle-->
        <link href="~/css/Admin/styles.css" rel="stylesheet" />
        <!-- ===============Base CSS END ===============-->
    </environment>
    @RenderSection("HeaderContent", false)
    @RenderSection("Style", false)

</head>
<body class="aside-hover">
    <div class="wrapper">
        <!-- top navbar-->
        <partial name="_HeaderPartial" />

        <!-- sidebar-->
        <partial name="_MenuPartial"/>
        <!-- Main section-->
        <section class="disflex">
            <!-- Page content-->
            <div class="content-wrapper">
                <h3>
                    <!-- btn right aligned-->
                    <div class="pull-right">
                        @RenderSection("buttons", false)
                    </div>
                    @ViewData["Title"]
                    <!-- Small text for title-->
                    <small class="pt-sm">
                        @RenderSection("explaination", false)
                    </small>
                    <!-- Breadcrumb below title-->

                    <ol class="breadcrumb">
                        @RenderSection("breadcrumbs", false)
                    </ol>

                </h3>
                @RenderBody()
            </div>
        </section>
        <!--我要反馈-->
        @*<partial name="_FeedBackPartial" />*@
        <!-- Page footer-->
        <footer>
            <span>&copy; @DateTime.Now.Year - <a href="http://www.senparc.com/" target="_blank">苏州盛派网络科技有限公司</a></span>
        </footer>
    </div>
    <button class="btn btn-danger hidden" id="baseDangerAlert" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;danger&quot;}">Danger</button>
    <button class="btn btn-info hidden" id="baseInfoAlert" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;info&quot;}">Info</button>
    <button class="btn btn-warning hidden" id="baseWarningAlert" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;warning&quot;}">Warning</button>
    <button class="btn btn-success hidden" id="baseSuccessAlert" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;success&quot;}">Success</button>
    @*本地*@
    <environment include="Development">
        <!-- ===============BASE JQUERY SCRIPTS ===============-->
        <script src="~/bower_components/jquery/dist/jquery.js"></script>
        <!-- ===============BASE BOOTSTRAP SCRIPTS ===============-->
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="~/bower_components/AngularJS/angular.min.js"></script>*@
        <!-- ===============BASE VUE SCRIPTS ===============-->
        <script src="~/bower_components/vue/dist/vue.js"></script>

        <!-- FILESTYLE-->
        <script src="~/lib/vendor/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>

        <!-- ===============BASE VENDOR SCRIPTS ===============-->
        <script src="~/lib/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
        <script src="~/lib/vendor/screenfull/dist/screenfull.js"></script>
        @*<script src="~/lib/vendor/jquery-localize-i18n/dist/jquery.localize.js"></script>*@
        <script src="~/lib/vendor/parsleyjs/dist/parsley.min.js"></script>
        @*<script src="~/bower_components/parsleyjs/dist/parsley.js"></script>*@
        <script src="~/bower_components/parsleyjs/dist/i18n/zh_cn.js"></script>
        <!--nestable-->
        <script src="~/lib/vendor/nestable/jquery.nestable.js"></script>
        <!-- WYSIWYG-->
        <script src="~/lib/vendor/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
        <script src="~/lib/vendor/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
        <!-- XEDITABLE-->
        <script src="~/lib/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <!--tour-->
        <script src="~/lib/vendor/bootstrap-tour/build/js/bootstrap-tour-standalone.js"></script>
        <!-- ===============Base PLUGIN OR OTHERS ===============-->
        <script src="~/js/Admin/base/plugin/sweetalert/dist/sweetalert.min.js"></script>
        <!-- ===============BASE JS ===============-->
        <script src="~/js/Admin/base/base.js"></script>
        <script src="~/js/Admin/base/Ajax/Ajax.js"></script>
        <script src="~/js/Admin/base/enum.js"></script>
        <!-- ===============BASE APP SCRIPTS ===============-->
        <script src="~/lib/bootstrap/dist/js/app.js"></script>
        <!-- ===============auto refresh page ===============-->
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
    </environment>
    @*线上*@
    <environment exclude="Development">
        <!-- ===============BASE JQUERY SCRIPTS ===============-->
        <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- ===============BASE BOOTSTRAP SCRIPTS ===============-->
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        @*<script src="~/bower_components/AngularJS/angular.min.js"></script>*@
        <!-- ===============BASE VUE SCRIPTS ===============-->
        <script src="~/bower_components/vue/dist/vue.min.js"></script>

        <!-- FILESTYLE-->
        <script src="~/lib/vendor/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>

        <!-- ===============BASE VENDOR SCRIPTS ===============-->
        <script src="~/lib/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
        <script src="~/lib/vendor/screenfull/dist/screenfull.js"></script>
        @*<script src="~/lib/vendor/jquery-localize-i18n/dist/jquery.localize.js"></script>*@
        <script src="~/lib/vendor/parsleyjs/dist/parsley.min.js"></script>
        @*<script src="~/bower_components/parsleyjs/dist/parsley.js"></script>*@
        <script src="~/bower_components/parsleyjs/dist/i18n/zh_cn.js"></script>
        <!--nestable-->
        <script src="~/lib/vendor/nestable/jquery.nestable.js"></script>
        <!-- WYSIWYG-->
        <script src="~/lib/vendor/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
        <script src="~/lib/vendor/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
        <!-- XEDITABLE-->
        <script src="~/lib/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <!-- ===============Base PLUGIN OR OTHERS ===============-->
        <!--tour-->
        <script src="~/lib/vendor/bootstrap-tour/build/js/bootstrap-tour-standalone.js"></script>
        <!-- SWEETALERT-->
        <script src="~/js/Admin/base/plugin/sweetalert/dist/sweetalert.min.js"></script>
        <!-- ===============BASE JS ===============-->
        <script src="~/js/Admin/base.min.js"></script>
        <!-- ===============BASE APP SCRIPTS ===============-->
        <script src="~/lib/bootstrap/dist/js/app.js"></script>

    </environment>
    <script>
        $(function () {
            ////访问量统计
            ////var _hmt = _hmt || [];
            //var hm = document.createElement("script");
            //hm.src = "https://hm.baidu.com/hm.js?cff4d7b0f55e45ceab91d2197cb95cdc";
            //var s = document.getElementsByTagName("script")[0];
            //s.parentNode.insertBefore(hm, s);
        });
        Parsley.on('form:submit', function () {
            //如果是表单提交则加上这个标记
            if (this.$element.data('isformsubmit')) {
                return true;
            } else {
                return false;
            }
        });
    </script>
    @RenderSection("scripts", false)

    @Html.RenderMessageBox()
</body>

</html>
