@model Senparc.Areas.User.Models.VD.Account_PayLogVD

@{
    ViewBag.Title = "积分购买记录";
}
@section scripts{
    <environment include="Development">
        <script src="~/js/User/Account/PayLog.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/User/Account/PayLog.min.js"></script>
    </environment>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                订单完成时间
                            </th>
                            <th>
                                订单支付金额（￥）
                            </th>
                            <th>
                                积分
                            </th>
                            <th>
                                订单号
                            </th>
                            <th>
                                订单状态
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PayLogList)
                        {
                            <tr>
                                <td>@item.CompleteTime</td>
                                <td>@item.PayMoney</td>
                                <td> + @item.GetPoints</td>
                                <td>@item.OrderNumber</td>
                                <td>@((AccountPayLog_Status)item.Status)</td>
                            </tr>
                        }


                    </tbody>
                </table>
                <div class="text-center p jpagerbar">
                    @Html.Raw((Html.PagerBar(Model.PayLogList, new PagerBarSettings(Url.Action("Index", "DeveloperPointsLog", new { pageIndex = "{0}" })) { NoRecordTip = "尚无记录" })))
                </div>
            </div>
        </div>
    </div>
</div>
