@model Senparc.Areas.User.Models.VD.IBaseUserVD
@using System.Web.Mvc
@using Senparc.Web.UI
<!DOCTYPE html>
<html lang="zh-CN" class="csstransforms3d">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SCF</title>
    <meta name="description" content="@ViewData["Title"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @*本地*@
    <environment include="Development">
        <!-- ===============Base CSS BEGIN ===============-->
        <!-- ===============Base VENDOR STYLES ===============-->
        <link href="~/lib/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
        <!-- ===============Base BOOTSTRAP STYLES ===============-->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <!--tour-->
        <link href="~/lib/vendor/bootstrap-tour/build/css/bootstrap-tour-standalone.css" rel="stylesheet" />
        <!-- ===============Base PLUGIN OR OTHERS ===============-->
        <!--Base SWEET ALERT-->
        <link href="~/js/User/base/plugin/sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <!--Base APP-->
        <link href="~/lib/bootstrap/dist/css/app.css" rel="stylesheet" />
        <!--Base THEME-->
        <link href="~/lib/bootstrap/dist/css/theme-b.css" rel="stylesheet" />
    </environment>
    @*线上*@
    <environment exclude="Development">
        <!-- ===============Base CSS BEGIN ===============-->
        <!-- ===============Base VENDOR STYLES ===============-->
        <link href="~/lib/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
        <!--tour-->
        <link href="~/lib/vendor/bootstrap-tour/build/css/bootstrap-tour-standalone.css" rel="stylesheet" />
        <!-- ===============Base BOOTSTRAP STYLES ===============-->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <!-- ===============Base PLUGIN OR OTHERS ===============-->
        <!--Base SWEET ALERT-->
        <link href="~/js/User/base/plugin/sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <!--Base APP-->
        <link href="~/lib/bootstrap/dist/css/app.css" rel="stylesheet" />
        <!--Base THEME-->
        <link href="~/lib/bootstrap/dist/css/theme-b.css" rel="stylesheet" />
    </environment>
    @RenderSection("HeaderContent", false)
    @RenderSection("Style", false)
    <style>
        .login-bg {
            background-image: url(/images/PC/niucha1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            z-index: -1;
            position: absolute;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="login-bg"></div>
        <div class="block-center mt-xl wd-xl">
            @RenderBody()
            <div class="p-lg text-center text-white">
                <span>&copy;</span>
                <span>@DateTime.Now.Year</span>
                <span>-</span>
                <a href="http://www.senparc.com" class="link-unstyled text-white" title="苏州盛派网络科技有限公司">苏州盛派网络科技有限公司</a>
            </div>
        </div>
    </div>
    <button class="btn btn-danger hidden" id="baseDangerAlert" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;danger&quot;}">Danger</button>
    <button class="btn btn-info hidden" id="baseInfoAlert" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;info&quot;}">Info</button>
    <button class="btn btn-warning hidden" id="baseWarningAlert" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;warning&quot;}">Warning</button>
    <button class="btn btn-success hidden" id="baseSuccessAlert" type="button" data-notify="" data-message="Message with status.." data-options="{&quot;status&quot;:&quot;success&quot;}">Success</button>
    @*本地*@
    <environment include="Development">
        <!-- ===============BASE JQUERY SCRIPTS ===============-->
        <script src="~/bower_components/jquery/dist/jquery.js"></script>
        <!-- ===============BASE BOOTSTRAP SCRIPTS ===============-->
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- ===============BASE VUE SCRIPTS ===============-->
        <script src="~/lib/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
        <script src="~/lib/vendor/parsleyjs/dist/parsley.min.js"></script>
        <script src="~/bower_components/parsleyjs/dist/i18n/zh_cn.js"></script>
        <script src="~/lib/vendor/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
        <script src="~/lib/vendor/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
        <!--jquery-qrcode-->
        <script src="~/bower_components/jquery-qrcode/dist/jquery-qrcode.min.js"></script>
        <!--Sortable-->
        <script src="~/js/User/base/plugin/sweetalert/dist/sweetalert.min.js"></script>
        <!--tour-->
        <script src="~/lib/vendor/bootstrap-tour/build/js/bootstrap-tour-standalone.js"></script>
        <script src="~/js/User/base/base.js"></script>
        <!-- ===============BASE APP SCRIPTS ===============-->
        <script src="~/lib/bootstrap/dist/js/app.js"></script>
        <script src="~/js/User/Ajax/Ajax.js"></script>
    </environment>
    @*线上*@
    <environment exclude="Development">
        <!-- ===============BASE JQUERY SCRIPTS ===============-->
        <script src="~/bower_components/jquery/dist/jquery.js"></script>
        <!-- ===============BASE BOOTSTRAP SCRIPTS ===============-->
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- ===============BASE VUE SCRIPTS ===============-->
        <script src="~/lib/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
        <script src="~/lib/vendor/parsleyjs/dist/parsley.min.js"></script>
        <script src="~/bower_components/parsleyjs/dist/i18n/zh_cn.js"></script>
        <script src="~/lib/vendor/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
        <script src="~/lib/vendor/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
        <!--jquery-qrcode-->
        <script src="~/bower_components/jquery-qrcode/dist/jquery-qrcode.min.js"></script>
        <!--Sortable-->
        <script src="~/js/User/base/plugin/sweetalert/dist/sweetalert.min.js"></script>
        <!--tour-->
        <script src="~/lib/vendor/bootstrap-tour/build/js/bootstrap-tour-standalone.js"></script>
        <script src="~/js/User/base/base.js"></script>
        <!-- ===============BASE APP SCRIPTS ===============-->
        <script src="~/lib/bootstrap/dist/js/app.js"></script>
        <script src="~/js/User/Ajax/Ajax.js"></script>

    </environment>
    @*SignalR *@
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @RenderSection("scripts", false)
    @Html.RenderMessageBox()
</body>

</html>
