@model Senparc.Areas.Admin.Models.VD.AdminUserInfo_IndexVD
@using System.Web.Mvc
@{
    ViewData["Title"] = "管理员管理";
}
@section breadcrumbs{
    <li>
        @ViewData["Title"]
    </li>
}
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="pull-left">
                <a asp-action="Edit" asp-route-id="" title="新增" class="btn-sm btn btn-success">
                    <em class="fa fa-plus"></em> &nbsp;<small>新增</small>
                </a>
                <label for="deleteBtn" class="btn-sm btn btn-danger" title="删除">
                    <em class="fa fa-trash-o"></em> &nbsp;<small>删除</small>
                    <input type="submit" id="deleteBtn" onclick="deleteCheck('ids','deleteForm'); return false;" form="deleteForm" class="hidden" value="删除" />
                </label>
            </div>
            <div class="clearfix"></div>
            <div class="x_content">
                @*<p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>*@
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title"># </th>
                                <th class="column-title">用户名 </th>
                                <th class="column-title">备注 </th>
                                <th class="column-title">添加时间 </th>
                                <th class="column-title">操作 </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">
                                        已选中 <span class="action-cnt"> </span>
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AdminUserInfoList)
                            {
                                <tr class="pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat table_records" name="ids" form="deleteForm" value="@item.Id">
                                    </td>
                                    <td class=" "> @item.Id</td>
                                    <td class=" ">@item.UserName </td>
                                    <td class=" ">@item.Note </td>
                                    <td class=" "> @item.AddTime.ToString("yyyy-MM-dd HH:mm")</td>
                                    <td class=" ">
                                        <a asp-action="Edit" asp-route-id="@item.Id" title="编辑" class="btn-xs btn btn-info">
                                            <em class="fa fa-pencil-square-o"></em>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center p jpagerbar">
                    @Html.Raw((Html.PagerBar(Model.AdminUserInfoList, new PagerBarSettings(Url.Action("Index", "AdminUserInfo", new
       {
           pageIndex = "{0}"
       }))
       {
           NoRecordTip = "暂无数据",
           ShowTotalCount = true
       })))
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" asp-action="Delete" id="deleteForm"></form>
