@model Senparc.Areas.Admin.BaseAdminPageModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    <environment names="Development">

        <!-- =============== VENDOR STYLES ===============-->
        <!-- =============== BOOTSTRAP STYLES ===============-->
        <link href="~/node_modules/gentelella/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <!--Base custom-->
        <link href="~/node_modules/gentelella/build/css/custom.css" rel="stylesheet" />
        <link href="~/css/Admin/base/senparc-login.css" rel="stylesheet" />

    </environment>
    <environment names="Staging,Production">
        <!-- =============== VENDOR STYLES ===============-->
        <link href="~/node_modules/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <!-- =============== BOOTSTRAP STYLES ===============-->
        <link href="~/node_modules/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <!--Base custom-->
        <link href="~/node_modules/gentelella/build/css/custom.min.css" rel="stylesheet" />
        <link href="~/css/Admin/base/senparc-login.css" rel="stylesheet" />

    </environment>
    @RenderSection("HeaderContent", false)
</head>
<body>
    @RenderBody()

    <environment names="Development">
        <!-- =============== VENDOR SCRIPTS ===============-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- =============== BOOTSTRAP SCRIPTS ===============-->
        @RenderSection("scripts", false)
    </environment>
    <environment names="Staging,Production">
        <!-- =============== VENDOR SCRIPTS ===============-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- =============== BOOTSTRAP SCRIPTS ===============-->
        @RenderSection("scripts", false)

    </environment>
</body>
</html>