@model Senparc.Scf.AreaBase.Admin.IAdminPageModelBase
@{
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Title"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <!-- 引入样式 -->
    <link href="~/lib/element-ui_2.13.2/element.css" rel="stylesheet" />
    <link href="~/css/Admin/Shared/_Layout.css" rel="stylesheet" />
    @RenderSection("HeaderContent", false)
    @RenderSection("Style", false)
</head>
<body>
    @RenderBody()
    <!--lib-->
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/element-ui_2.13.2/element.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <!--js-->
    <script src="~/js/Admin/axios.js"></script>
    <script src="~/js/Admin/global.js"></script>
    <script src="~/js/Admin/Pages/Components/Components.js"></script>
    @RenderSection("scripts", false)
</body>

</html>
