@model Senparc.Areas.Admin.BaseAdminPageModel
@{
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Title"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @*本地*@
    <environment include="Development">

        <!-- Bootstrap -->
        <link href="~/node_modules/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/node_modules/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/node_modules/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="~/node_modules/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- PNotify -->
        <link href="~/node_modules/gentelella/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
        <link href="~/node_modules/gentelella/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
        @*<link href="~/node_modules/gentelella/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">*@
        <!-- Sweetalert -->
        <link href="~/node_modules/bootstrap-sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <!-- Custom Theme Style -->
        <link href="~/node_modules/gentelella/build/css/custom.css" rel="stylesheet">
        <!--Public Pagebar-->
        <link href="~/css/Admin/base/pagecss.css" rel="stylesheet" />
        <!--Base CustomStyle-->
        <link href="~/css/Admin/styles.css" rel="stylesheet" />
    </environment>
    @*线上*@
    <environment exclude="Development">

        <!-- Bootstrap -->
        <link href="~/node_modules/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/node_modules/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/node_modules/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="~/node_modules/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- PNotify -->
        <link href="~/node_modules/gentelella/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
        <link href="~/node_modules/gentelella/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
        @*<link href="~/node_modules/gentelella/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">*@
        <!-- Sweetalert -->
        <link href="~/node_modules/bootstrap-sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <!-- Custom Theme Style -->
        <link href="~/node_modules/gentelella/build/css/custom.min.css" rel="stylesheet">
        <!--Public Pagebar-->
        <link href="~/css/Admin/base/pagecss.css" rel="stylesheet" />
        <!--Base CustomStyle-->
        <link href="~/css/Admin/styles.css" rel="stylesheet" />
    </environment>
    @RenderSection("HeaderContent", false)
    @RenderSection("Style", false)

</head>
<body class="nav-md">
    @RenderSection("modal", false)
    <div class="container body">
        <div class="main_container">
            <!-- sidebar-->
            <partial name="_MenuPartial" model="@Model" />

            <!-- top navbar-->
            <partial name="_HeaderPartial" />

            <!-- page content -->
            <div class="right_col" role="main">
                <div>
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                @ViewData["Title"]
                                <small> @RenderSection("explanations", false)</small>
                            </h3>
                            <ol class="breadcrumb">
                                @RenderSection("breadcrumbs", false)
                            </ol>
                        </div>
                        <div class="title_right">
                            @RenderSection("filter", false)
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    @RenderBody()
                </div>
            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    &copy; @DateTime.Now.Year -  <a href="http://wwww.senparc.com">苏州盛派网络科技有限公司</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @*本地*@
    <environment include="Development">
        <!-- jQuery -->
        <script src="~/node_modules/gentelella/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/node_modules/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/node_modules/gentelella/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/node_modules/gentelella/vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="~/node_modules/gentelella/vendors/iCheck/icheck.min.js"></script>
        <!-- PNotify -->
        <script src="~/node_modules/gentelella/vendors/pnotify/dist/pnotify.js"></script>
        <script src="~/node_modules/gentelella/vendors/pnotify/dist/pnotify.buttons.js"></script>
        <!-- Sweetalert -->
        <script src="~/node_modules/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
        <!-- validator -->
        <script src="~/node_modules/gentelella/vendors/validator/validator.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/js/gentelella-custom/custom.js"></script>
        <script src="~/js/Admin/base.js"></script>

    </environment>
    @*线上*@
    <environment exclude="Development">
        <!-- jQuery -->
        <script src="~/node_modules/gentelella/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/node_modules/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/node_modules/gentelella/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/node_modules/gentelella/vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="~/node_modules/gentelella/vendors/iCheck/icheck.min.js"></script>
        <!-- PNotify -->
        <script src="~/node_modules/gentelella/vendors/pnotify/dist/pnotify.js"></script>
        <script src="~/node_modules/gentelella/vendors/pnotify/dist/pnotify.buttons.js"></script>
        <!-- Sweetalert -->
        <script src="~/node_modules/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
        <!-- validator -->
        <script src="~/node_modules/gentelella/vendors/validator/validator.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/js/gentelella-custom/custom.min.js"></script>
        <script src="~/js/Admin/base.js"></script>

    </environment>
    <script>
        $(function () {
            //访问量统计
            //var _hmt = _hmt || [];
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?cff4d7b0f55e45ceab91d2197cb95cdc";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        });
    </script>
    @RenderSection("scripts", false)
    @Html.RenderMessageBox()
</body>

</html>
