@model Senparc.Scf.AreaBase.Admin.IAdminPageModelBase
@inject Senparc.Scf.Service.SysMenuService _sysMenuService
@addTagHelper *, Senparc.Areas.Admin
@{
    var sysMenuDtos = await _sysMenuService.GetMenuTreeDtoByCacheAsync();
}
<style>
    .nav.child_menu.xscf_area_submenu > li {
        position: initial;
    }
</style>
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title hidden-small">
            @*<a href="/Home/Index" class="site_title">
                    <img src="~/images/Admin/base/head/logo_230x55.png" class="hidden-small" />
                    <img src="~/images/Admin/base/head/logo_70x55.png" class="hidden-lg" />
                </a>*@
            <a href="index.html" class="site_title">
                <img src="~/images/Admin/base/head/logo_230x55.png" />
            </a>
        </div>

        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/images/Admin/base/head/logo_128x128.png" class="img-circle profile_img" style="background-color:transparent" />
            </div>
            <div class="profile_info" style="padding: 25px 0px 10px;">
                <span>Welcome,</span>
                <h2>@Model.UserName</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                @*<h3>菜单</h3>*@
                <ul class="nav side-menu">
                    <li>
                        <a href="~/Admin/Index">首页</a>
                    </li>
                    @foreach (var item in sysMenuDtos)
                    {
                        <li>
                            <a href="@item.Url">
                                @if (!string.IsNullOrEmpty(item.Icon))
                                {
                                    <i class="@item.Icon"></i>
                                }
                                @item.MenuName

                            </a>
                            @if (item.Children != null)
                            {
                                <ul class="nav child_menu">
                                    @foreach (var childrenItem in item.Children.Where(_ => _.IsMenu))
                                    {
                                        <li>
                                            @{
                                                var xscfRegister = Model.XscfRegisterList.FirstOrDefault(z => childrenItem.Url.Contains($"uid={z.Uid}", StringComparison.OrdinalIgnoreCase));
                                            }
                                            @if (xscfRegister != null &&
                                         xscfRegister is Senparc.Scf.Core.Areas.IAreaRegister xscfAreapage &&
                                         xscfAreapage.AareaPageMenuItems.Count() > 0)
                                            {
                                                //这是一个 XSCF 模块菜单，并且包含多个菜单配置
                                                <a><i class="@childrenItem.Icon"></i> @childrenItem.MenuName<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu xscf_area_submenu">
                                                    <li class="sub_menu">
                                                        <a href="@childrenItem.Url">
                                                            <i class="fa fa-gear"></i>
                                                            <text>设置/执行</text>
                                                        </a>
                                                    </li>
                                                    @foreach (var xscfSubMenu in xscfAreapage.AareaPageMenuItems)
                                                    {
                                                        <li>
                                                            <a href="@xscfRegister.GetAreaUrl(xscfSubMenu.Url)">
                                                                @if (!string.IsNullOrEmpty(xscfSubMenu.Icon))
                                                                {
                                                                    <i class="@xscfSubMenu.Icon"></i>
                                                                }
                                                                @xscfSubMenu.Name
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                            else
                                            {
                                                <a href="@childrenItem.Url">
                                                    @if (!string.IsNullOrEmpty(childrenItem.Icon))
                                                    {
                                                        <i class="@childrenItem.Icon"></i>
                                                    }
                                                    @childrenItem.MenuName
                                                </a>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>
<!-- /menu footer buttons -->
