@model Senparc.Areas.Admin.BaseAdminPageModel
@inject Senparc.Service.SysMenuService _sysMenuService
@addTagHelper *, Senparc.Areas.Admin
@{
    var sysMenuDtos = await _sysMenuService.GetMenuTreeDtoByCacheAsync();
}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title hidden-small">
            @*<a href="/Home/Index" class="site_title">
                    <img src="~/images/Admin/base/head/logo_230x55.png" class="hidden-small" />
                    <img src="~/images/Admin/base/head/logo_70x55.png" class="hidden-lg" />
                </a>*@
            <a href="index.html" class="site_title">
                <img src="~/images/Admin/base/head/logo_230x55.png" />
            </a>
        </div>

        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/images/Admin/base/head/logo_128x128.png" class="img-circle profile_img" style="background-color:transparent" />
            </div>
            <div class="profile_info" style="padding: 25px 0px 10px;">
                <span>Welcome,</span>
                <h2>@Model.UserName</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                @*<h3>菜单</h3>*@
                <ul class="nav side-menu">
                    <li>
                        <a href="~/Admin/Index">首页</a>
                    </li>
                    @foreach (var item in sysMenuDtos)
                    {
                        <li>
                            <a href="@item.Url">
                                @if (!string.IsNullOrEmpty(item.Icon))
                                {
                                    <i class="@item.Icon"></i>
                                }
                                @item.MenuName

                            </a>
                            @if (item.Children != null)
                            {
                                <ul class="nav child_menu">
                                    @foreach (var childrenItem in item.Children.Where(_ => _.IsMenu))
                                    {
                                        <li>
                                            <a href="@childrenItem.Url">
                                                @if (!string.IsNullOrEmpty(childrenItem.Icon))
                                                {
                                                    <i class="@childrenItem.Icon"></i>
                                                }
                                                @childrenItem.MenuName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>
<!-- /menu footer buttons -->
