@* XSCF 模块页面的模板页 *@
@using Senparc.Scf.Core.Areas;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor _httpContextAccessor
@{
    Layout = "_LayoutDocs";
}
@{
    var subTitle = ViewData["Title"];
}
@section HeaderContent{
    @RenderSection("HeaderContent", false)
}
@section Style{
    @RenderSection("Style", false)
}
@section modal{
    @RenderSection("modal", false)
}
@section scripts{
    @RenderSection("scripts", false)
}

<div class="div">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
