<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Title"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @*本地*@
    <environment include="Development">
        <link href="~/bower_components/jquery-weui/src/lib/weui.css" rel="stylesheet" />
    </environment>
    @*线上*@
    <environment exclude="Development">
        <link href="~/bower_components/jquery-weui/src/lib/weui.min.css" rel="stylesheet" />
    </environment>
    @RenderSection("Style", false)
</head>
<body ontouchstart>
    @RenderBody();
    @*本地*@
    <environment include="Development">
        <script src="~/bower_components/jquery/dist/jquery.js"></script>
    </environment>
    @*线上*@
    <environment exclude="Development">
        <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    </environment>
    @RenderSection("scripts", false)
</body>

</html>
