@model Senparc.Areas.Admin.Models.VD.Feedback_IndexVD

@{
    ViewBag.Title = "用户反馈列表";
}
@section HeaderContent{
}
@section filter{
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <form asp-controller="Feedback" asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" asp-for="Kw" class="form-control" placeholder="反馈内容">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table ">
                        <thead>
                            <tr class="headings">
                                <th class="column-title widget">内容 </th>
                                <th class="column-title">反馈时间</th>
                                <th class="column-title">用户 </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FeedbackList)
                            {
                                <tr>
                                    <td>
                                        @item.Content
                                    </td>
                                    <td>@item.AddTime.ToString("yyyy-MM-dd")</td>
                                    <td>
                                        @item.Account.UserName
                                        <br />
                                        <a href="@("mailto:"+item.Account.Email)">@item.Account.Email</a>
                                        <br />
                                        @item.Account.Phone
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center p jpagerbar">
                        @Html.Raw((Html.PagerBar(Model.FeedbackList, new PagerBarSettings(Url.Action("Index", "Feedback",
               new
               {
                   pageIndex = "{0}",

                   Model.Kw,
               }))
                   { NoRecordTip = "暂无数据",
                       ShowTotalCount = true
                   })))

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
