@model Senparc.Areas.Admin.Models.VD.Feedback_IndexVD

@{
    ViewBag.Title = "用户反馈列表";
}
@section HeaderContent{
}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <form asp-controller="Feedback" asp-action="Index" method="get" class="pull-right form-inline form-group-sm">
                    <div class="input-group input-group-sm">
                        <input type="search" asp-for="Kw" style="width:300px;" class="form-control" placeholder="请输入内容" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <em class="fa fa-search"></em>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>内容</th>
                                <th class="wd-sm">反馈时间</th>
                                <th class="wd-xs">用户</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FeedbackList)
                            {
                                <tr>
                                   
                                    <td>
                                        @item.Content
                                    </td>
                                    <td>@item.AddTime.ToString("yyyy-MM-dd")</td>
                                    <td>
                                         @item.Account.UserName
                                        <br />
                                        <a href="@("mailto:"+item.Account.Email)">@item.Account.Email</a>
                                        <br />
                                         @item.Account.Phone
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center p jpagerbar">
                        @Html.Raw((Html.PagerBar(Model.FeedbackList, new PagerBarSettings(Url.Action("Index", "Feedback",
               new
               {
                   pageIndex = "{0}",
                   Model.Kw,
               })) { NoRecordTip = "无数据" })))

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
